eval.json
{
  "name": "eval_opt_flow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Student Request Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Question",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1008,
        -80
      ],
      "id": "d8614b27-e9c5-4e25-8ae0-06efdb0ec61d",
      "name": "Student Request Form",
      "webhookId": "369aa68e-10f3-4344-9c61-8b24e883c883"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Question }}",
        "options": {
          "systemMessage": "You are a DURGASOFT faculty assistant.\n\nAnswer the student question in simple Indian English.\n\nRules:\n1. Explain like a classroom trainer.\n2. Use beginner-friendly language.\n3. Give one real-time example.\n4. If it is technical, give simple code.\n5. Avoid complex words.\n6. Make answer useful for students and job seekers.\n\nOutput format:\n\nTitle:\nSimple Explanation:\nReal-Time Example:\nCode Example:\nFinal Summary:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -816,
        -80
      ],
      "id": "734b3729-bf03-4cce-9c17-95447ad45fef",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -944,
        128
      ],
      "id": "5d5120ec-7f5b-424c-9f20-78460e796df4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WTqSV1UcxGu65kID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4c2b0146-8d95-44e6-b1e9-104c8a6a2ef2",
              "name": "current_answer",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        -80
      ],
      "id": "1dbe2243-078e-4f1b-af6a-4f7322ef3f6d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Question: {{ $('Student Request Form').item.json.Question }}\n\nCurrent Answer : {{ $json.current_answer }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a strict DURGASOFT answer evaluator.\n\nCheck the given answer based on:\n\n1. Simple Indian English\n2. Correct explanation\n3. Beginner-friendly clarity\n4. Real-time example\n5. Code example if required\n6. Proper structure\n7. Useful for students and job seekers\n\nGive score out of 100.\n\nReturn only valid JSON.\n\nFormat:\n{\n  \"score\": 85,\n  \"status\": \"approved\",\n  \"feedback\": \"Answer is clear and useful.\"\n}\n\nRules:\nIf score is 80 or above, status should be \"approved\".\nIf score is below 80, status should be \"needs_improvement\".\nDo not add extra text outside JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -256,
        -80
      ],
      "id": "59f6ba16-85a7-4f1a-9dfa-1b942b0da27a",
      "name": "Eval Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "61fd20f5-c68a-4097-be65-10c5d6a376af",
              "leftValue": "={{ $json.output.score }}",
              "rightValue": 93,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        96,
        -80
      ],
      "id": "1ce12be3-fb53-49d8-ae2f-02a7b3a7cbb2",
      "name": "If"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"score\": 85,\n  \"status\": \"approved\",\n  \"feedback\": \"Answer is clear and useful.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -80,
        128
      ],
      "id": "d56ed3d4-7386-4af5-a45c-92617111b64e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Student Request Form').item.json.Email }}",
        "subject": "Answer For Your Question",
        "emailType": "text",
        "message": "=Score: {{ $json.output.score }} \n\n{{ $('Edit Fields').item.json.current_answer }}\n\n\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1040,
        -336
      ],
      "id": "78828948-04b2-46c2-b259-a4e7cd7a5d91",
      "name": "Send a message",
      "webhookId": "1eb41589-274b-49f6-ac6c-2314e50c2be6",
      "credentials": {
        "gmailOAuth2": {
          "id": "NLdLA73IwrBKOz7P",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Question: {{ $('Student Request Form').item.json.Question }}\n\ncurrent answer: {{ $('Edit Fields').item.json.current_answer }}\n\nScore: {{ $('Eval Agent').item.json.output.score }}\n\nfeedback: {{ $('Eval Agent').item.json.output.feedback }}",
        "options": {
          "systemMessage": "You are a senior DURGASOFT faculty optimizer.\n\nImprove the previous answer based on evaluator feedback.\n\nRules:\n1. Make explanation simpler.\n2. Add missing points.\n3. Add real-time DURGASOFT style example.\n4. Add simple code if required.\n5. Improve structure.\n6. Make it suitable for beginners.\n7. Do not make it too long unnecessarily.\n\nOutput format:\n\nTitle:\nImproved Explanation:\nReal-Time Example:\nCode Example:\nStudent Takeaway:\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        304,
        16
      ],
      "id": "2e1c941a-073c-41e6-964a-c1b6bc4f5a20",
      "name": "Optimizer Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        176,
        224
      ],
      "id": "53ef70a8-b15f-441a-b388-100e795a4cdd",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "WTqSV1UcxGu65kID",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Student Request Form": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Eval Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Eval Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eval Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Eval Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Optimizer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Optimizer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Optimizer Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c9bd8dad-a5fa-400b-96b0-84f72152395a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "114816880cc1ea6dc9d7768443ed6b12876388edfc6627c0deeebb832cb1a175"
  },
  "id": "AaYeomhZUwMAifRt",
  "tags": []
}
