openRouterworkflow.json
{
  "name": "openRouterworkflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -480,
        0
      ],
      "id": "ff9ba3b4-0aee-4094-a905-e1bbe40d7fa2",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "yPkW6QekIxx7pDpw",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ROLE:\nAct as an experienced Technical Trainer.\n\nTASK:\nAnalyze the given input and provide a clear, structured, and easy-to-understand explanation.\n\nINPUT:\n{{ $json.snippet }}\n\nINSTRUCTIONS:\n- Keep the explanation simple and beginner-friendly\n- Use short paragraphs\n- Use bullet points where helpful\n- Avoid markdown symbols like **, ##, or *\n- Maintain clean plain text formatting\n- Add examples if applicable\n\nOUTPUT FORMAT:\n\nExplanation:\n<your explanation>\n\nKey Points:\n- Point 1\n- Point 2\n- Point 3\n\nExample (if applicable):\n<example>\n\nConclusion:\n<short summary>",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -272,
        0
      ],
      "id": "f50e9239-885d-4c1b-a5b0-596d587b0790",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openrouter/free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -352,
        160
      ],
      "id": "60efd8c8-80cf-430c-a86e-2c93a285c5b3",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "GhDAORicB47tfp4e",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.From }}",
        "subject": "=Reply to :  {{ $('Gmail Trigger').item.json.Subject }}",
        "emailType": "text",
        "message": "=Hello Friend,\n\nPlease find my reply below:\n\n{{ $json.output.replace(/\\*\\*/g, \"\").replace(/^- /gm, \"• \").replace(/\\n/g, \"\\n\") }}\n\nThanks 🙂",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        80,
        0
      ],
      "id": "88ba9d4c-e558-4b31-8b9a-519014e018d9",
      "name": "Send a message",
      "webhookId": "92d10b1c-ffb3-4f3e-bd6c-9def51f66fa8",
      "credentials": {
        "gmailOAuth2": {
          "id": "FYUj1VZzxVscgZi8",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c6caf5ef-d9af-469d-b1fa-280c2fb32c10",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a32143cae2fbbb3c0afeb4f659a9eaa219ccab55c2bc05111f2d36ef4d067a9a"
  },
  "id": "kRwkNBbz3VTKGVvQ",
  "tags": []
}